<form action="/lists/new" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter your list name :</label>
    </dt>
    <dd>
      <input type="text" name="list_name" id="list_name" value="" />
    </dd>
  </dl>
  <fieldset>
    <input type="submit" value="Save"/>
    <a href="/lists">Cancel</a>
  </fieldset>
</form>
